.statistics {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgb(220, 96, 18);
    border-radius: 5px;
    background-color: aqua;
}

.title {
    color: #000;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}

.statList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;

    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;

    border: 2px solid rgb(220, 96, 18);
    border-radius: 5px;
}